.site-footer{
    position: relative;
    padding: 1.5em;
    font-family: $font__sans;
    color: #fff;
    background-color: $color__skin; 
;
    
    @media screen and (min-width: $query__small){
        padding: 1em 2em;
    }
    
}

.site-info{
    //text-align: center;
    padding: .5em 1em;
 
}
.social-menu{
    ul{ 
        display:flex;
        justify-content: left;
        list-style-type:none;
        margin:0;
        padding: 0;
            
        a{
            display:block;
            padding: .5em 1em;
            color: white;
            text-decoration: none;
            
            &:hover,
                &:focus{
                text-decoration: underline;
            }
        }
    }
}


#footer {
    
    font-size: 1.25em;
    font-weight: 400;
    
    color: $color_frontpage_contrast;
    width: 100%;
    background: $color__skin;
    border-top: 1px solid $color_frontpage_contrast;

    .row {
        padding: 20px 0;
    }
    

    a {
        color: $color_frontpage_main;
        text-decoration: none;
        &:hover{
            color: darken($color_frontpage_main, 10%);
        }
        
        .icon{
            height: 2em;
            width: 2em;
        }
        
    }
    
}






