#skills {
    background: url(assets/img/backgrounds/skill-bg.jpg);
    background-size: cover;
    color: #ffffff;
    text-align: center;
    margin-top: 10em;

    .section-title {
        color: $color_frontpage_contrast;
    }
  
  
    .fact-block {
        color: #ffffff;
        background: rgba(255, 255, 255, 0.07);
        width: 12em;
        border-radius: 20%;
        height: 12em;
        padding: 1em 0em;
        margin: 1em -0.5em;
        position: relative;
        
        @media screen and (max-width: $query__mobile){
        margin: 1em 1.5em;
    }
        
    }
    
    .count-info {
        position: absolute;
        top: 0;
        left: 0%;
        width: 12em;
        padding: 2em 0em;
        height: 12em;
        
        h3 {
            font-size: 3em;
            font-weight: 700;
            line-height: 0.6em;
        }
        
        h4 {
            font-size: 1.2em;
            color: $color_frontpage_main;
            text-transform: uppercase;
        }
    }
  
}
 
 
 
