ul li {
  list-style: none;
}



.row {
  padding: 90px 0 92px;
}



.logo{
    width: 70px;
    height: 70px;
    
}

.logo a img{
    width: 100%;
    height: auto;
}




/* Feedback Section Start */

/* Feedback Section End */
/* Footer Section Start */
