a {
	color: $color__link;
        text-decoration: none;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
        
        
	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
                
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

.page-content,
.entry-content,
.entry-summary,
.comment-content{
    
    a{
        text-decoration: none;
        border-bottom:3px solid $color__interactive;
        
        
        &:focus,
            &:hover{
            color: $color__interactive;
        }
        
        
    }
    
    
}